BasedOnStyle: LLVM
IndentWidth: 4

AlignConsecutiveMacros: AcrossComments
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBraces: Custom
BraceWrapping:
  SplitEmptyFunction: true
IncludeIsMainRegex: "^$"
